*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    margin: 0;
    font-family: 'Osake', sans-serif;
    background-color: #fff;
}
h1
{
    width: 100%;
    margin: auto;
    padding: 13px 0;
    letter-spacing: 1px;
    font-weight: 300px;
    text-transform: capitalize;
    text-align: center;
    color: #0F3041;
}

.box 
{
    width: 100%;
    background-color: hsla(193,42%,31%,0.40);
    align-content: center;
    border-radius: 5px;
    transition: box-shadow .2s;
}

.box:hover
{
    box-shadow: 1px 1px 15px 10px #0F3041;
}
.box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}



#HomeContentRow
{
    display: grid;
    grid-gap: 80px 20px;
    grid-template-columns: repeat(5, 1fr); /*content divided 5 column in a row*/
    width: 80%;
    margin:auto;
    padding-bottom: 40px;
	/*
	display: grid;
    grid-gap: 50px 5px;
    width: 25%;	
    margin: auto;
    padding-bottom: 40px;*/
}
#HomeContentRow img
{
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.ProductDetails
{
    padding: 0 15px;
    text-transform: capitalize;
}

/*
#HomeToyshopName 
{
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
#HomeToyshopName a
{
    text-decoration: none;
    color: #2B0047;
}

#HomeToyshopName a:hover
{
    color:#BB86FC;
    cursor:default;
}
*/


.HomeName
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
	background: #fff;
}
.HomeName img
{	
	
	color: #2B0047;
    position: relative;
	cursor:default;
}
.HomeName img:hover
{
    image-resolution: snap;
    letter-spacing: 20px;
}


.outer {
  display:block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow:hidden;
 position:relative;
}

.innerAF {
  width: 1000px;
  height: 200px;
  border-radius: 30px;
  cursor:pointer;
  display:block;
  background: url("../Images/AFH.jpeg")0 0, url("../Images/AFH1.jpg")200px 0, url("../Images/AFH3.jpeg")400px 0, url("../Images/AFH4.jpeg") 600px 0, url("../Images/AFH2.jpeg")800px 0;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.outer:hover .innerAF, .outer:focus .innerAF{
animation:swap 5s linear infinite;  
}

.outer:focus{
  border:2px solid red;
}

@keyframes swap{
  0%{transform:translateX(-200px)}
  19.999%{transform:translateX(-200px)}
  20%{transform:translateX(-400px)}
  39.999%{transform:translateX(-400px)}
  40%{transform:translateX(-600px)}
  59.999%{transform:translateX(-600px)}
  60%{transform:translateX(-800)}
  79.999%{transform:translateX(-800)}
  80%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}

.innerS {
  width: 1000px;
  height: 200px;
  border-radius: 30px;
  cursor:pointer;
  display:block;
  background: url("../Images/SH1.jpeg")0 0, url("../Images/SH2.jpeg")200px 0, url("../Images/SH3.jpeg")400px 0, url("../Images/SH4.jpeg") 600px 0, url("../Images/SH5.jpeg")800px 0;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.outer:hover .innerS,.outer:focus .innerS{
animation:swap 5s linear infinite;  
}
.outer:focus{
  border:2px solid red;
}
@keyframes swap{
  0%{transform:translateX(-200px)}
  19.999%{transform:translateX(-200px)}
  20%{transform:translateX(-400px)}
  39.999%{transform:translateX(-400px)}
  40%{transform:translateX(-600px)}
  59.999%{transform:translateX(-600px)}
  60%{transform:translateX(-800)}
  79.999%{transform:translateX(-800)}
  80%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}

.innerP {
  width: 1000px;
  height: 200px;
  border-radius: 30px;
  cursor:pointer;
  display:block;
  background: url("../Images/PH1.jpg")0 0, url("../Images/PH2.jpg")200px 0, url("../Images/PH3.jpg")400px 0, url("../Images/PH4.jpg") 600px 0, url("../Images/PH5.jpg")800px 0;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.outer:hover .innerP,.outer:focus .innerP{
animation:swap 5s linear infinite;  
}
.outer:focus{
  border:2px solid red;
}
@keyframes swap{
  0%{transform:translateX(-200px)}
  19.999%{transform:translateX(-200px)}
  20%{transform:translateX(-400px)}
  39.999%{transform:translateX(-400px)}
  40%{transform:translateX(-600px)}
  59.999%{transform:translateX(-600px)}
  60%{transform:translateX(-800)}
  79.999%{transform:translateX(-800)}
  80%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}

.innerC {
  width: 1000px;
  height: 200px;
  border-radius: 30px;
  cursor:pointer;
  display:block;
  background: url("../Images/C1.jpg")0 0, url("../Images/C2.jpeg")200px 0, url("../Images/C3.jpeg")400px 0, url("../Images/C4.jpeg") 600px 0, url("../Images/C5.jpeg")800px 0;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.outer:hover .innerC,.outer:focus .innerC{
animation:swap 5s linear infinite;  
}
.outer:focus{
  border:2px solid red;
}
@keyframes swap{
  0%{transform:translateX(-200px)}
  19.999%{transform:translateX(-200px)}
  20%{transform:translateX(-400px)}
  39.999%{transform:translateX(-400px)}
  40%{transform:translateX(-600px)}
  59.999%{transform:translateX(-600px)}
  60%{transform:translateX(-800)}
  79.999%{transform:translateX(-800)}
  80%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}

.innerA {
  width: 1000px;
  height: 200px;
  border-radius: 30px;
  cursor:pointer;
  display:block;
  background: url("../Images/A1.jpeg")0 0, url("../Images/A2.jpeg")200px 0, url("../Images/A3.jpeg")400px 0, url("../Images/A4.jpeg") 600px 0, url("../Images/A5.jpeg")800px 0;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.outer:hover .innerA,.outer:focus .innerA{
animation:swap 5s linear infinite;  
}
.outer:focus{
  border:2px solid red;
}
@keyframes swap{
  0%{transform:translateX(-200px)}
  19.999%{transform:translateX(-200px)}
  20%{transform:translateX(-400px)}
  39.999%{transform:translateX(-400px)}
  40%{transform:translateX(-600px)}
  59.999%{transform:translateX(-600px)}
  60%{transform:translateX(-800)}
  79.999%{transform:translateX(-800)}
  80%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}
