@charset "utf-8";
/* CSS Document */
/* signup form styles */
body {
    background-size: auto;
	background-image: url("../Images/SignUp.jpg");
	background-position: top;
	font-family: "Retro Gaming";
	background-color: black;
	z-index: 1;
}
.wrapper{
	background: hsla(0, 0%, 0%, 0.5);
	background: cover;
	margin: auto;
	min-height: 110vh;
}
.container {
    position: relative;
    top: 200px;
    width: 300px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    background:rgba(0,0,0, 0.8);
    border-radius: 10%;
  }
  
  .container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
	 color: aliceblue;
	  
  }
  
  .container input {
    width: 92%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .container input:focus {
    border-color: #66afe9;
  }
    
  .container .btn {
    width: 100%;
    padding: 10px;
    background-color: hsla(0,0%,35%,0.70);
    color: #fff;
    border: hsla(0,3%,83%,0.85);
	border-style: groove;
    border-radius: 50px;
	font-family: "Retro Gaming";
  }
  
  .container .btn:hover {
    background-color: hsla(0,0%,53%,0.88);
	cursor: pointer;
  }
  
  .container .forgot-password {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
	color: #fff;
  }
  
  .container .forgot-password a {
    color: #04AA6D;
  }

/*
  .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: transparent;
    filter: blur(5px);
  }


  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    }
    
*/
    .box .input{
        border: dotted;
        background: none;
        border-color: snow;
		font-family: "Retro Gaming";
		color: aliceblue;
    }

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 1), transparent);
    
  }
  
  .nav-logo {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
    font-family: "Osake";
  }
  
  

  .nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15;
    margin: 0 25px;
    }

  .link:hover, .active{
    border-bottom: 2px solid #fff;
  }
  .nav-menu ul {
    list-style: none;
    display: flex;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #fff;
  }
  .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background-color: rgba(255,255,255, 0.4);
    cursor: pointer;
    border: none;
    border-radius: 25px;
  }
.btn:hover{
	cursor: pointer;
	background-color: rgba(255,255,255, 0.7);
	
}

#login{
	
	margin-left: 250px;
/*	padding-left: 80px;*/
}
